include port_header
  block content
    h3 Personal
    div
      <!-- Nav tabs -->
      ul(class="nav nav-tabs" role="tablist")
        li(role="presentation" class="active")
          a(href="#reflection" aria-controls="reflection" role="tab" data-toggle="tab") Reflection
        li(role="presentation")
          a(href="#personal" aria-controls="practice" role="tab" data-toggle="tab") Personal Use
        li(role="presentation")
          a(href="#professional" aria-controls="product" role="tab" data-toggle="tab") Professional Use
      <!-- Tab panes -->
      div(class="tab-content")
        div(role="tabpanel" class="tab-pane active" id="reflection")
          iframe(width="800px", onload="resizeIframe(this)", scrolling='no', frameborder='no', src='http://winstondhurst.me/spanish_portfolio/pp_reflection.html' )
        div(role="tabpanel" class="tab-pane" id="personal")
          iframe(width="800px", onload="resizeIframe(this)", scrolling='no', frameborder='no', src='http://winstondhurst.me/spanish_portfolio/personal.html' )
        div(role="tabpanel" class="tab-pane" id="professional")
          iframe(width="800px", onload="resizeIframe(this)", scrolling='no', frameborder='no', src='http://winstondhurst.me/spanish_portfolio/CV.html' )
