include port_header
  block content
    div.row
      div.col-md-5
        img.img-responsive(src="/images/mariachi.jpg")
      div.col-md-7
        h1.text-center Spanish Portfolio
        h3.text-center in partial fulfillment of graduation requirements for a
        h2.text-center Bachelor of Arts
        h3.text-center in the 
        h2.text-center Department of Spanish and Portuguese 

