extends fish_header

block content
  .container
    h2 Record a Trip
    form(role='form', action='/api/fish/trip', name="new-trip", method="post")
      .form-group
        label(for='date') Date
        input.form-control(id='date', type='date', name='date')
      .form-group
        label(for='time') Time
        input.form-control(type='text', name='time', id='time')
      .form-group
        label(for='temp') Temperature
        input.form-control(type='text', name='temp', id='temp')
      .form-group
        label(for='weather') Weather
        input.form-control(type='text', name='weather', id='weather')
      .form-group
        label(for='loc') Location
        select.form-control(name='loc', id='loc')
      //need to include button that does modal
      button.btn.btn-primary(type='button', data-toggle='modal', data-target='#new_location_modal') Add location
      
      //modal stuff
      div(tabindex='-1', class="modal fade", id='new_location_modal', role='dialog')
        div(class="modal-dialog" role="document")
         div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") X
            h4.modal-title =  New Location
          div(class="modal-body")
            form(role='form', action='/api/fish/loc', name="new-loc", method="post")
              .form-group
                label(for='name') Name
                input.form-control(id='loc_name', type='text', name='name')
              .form-group
                label(for='elevation') Elevation
                input.form-control(type='text', name='elevation', id='elevation')
              .form-group
                label(for='depth') Depth
                input.form-control(type='text', name='depth', id='depth')
              .form-group
                label(for='longitude') Longitude
                input.form-control(type='text', name='longitude', id='longitude')
              .form-group
                label(for='latitude') Latitude
                input.form-control(type='text', name='latitude', id='latitude')
              .form-group
                label(for='loc_description') Description
                 input.form-control(type='text', name='loc_description', id='loc_description')
              div(class="modal-footer")
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                button(type="submit" class="btn btn-primary") Save location
      br
      button.btn.btn-default(type='submit') Submit 
        
